doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  div.container.max-w-screen-md.mx-auto
    div.text-3xl.border-b-2 #{title}
    div
      block content
  script(src="/javascripts/bundle.js")
