extends layout

block content
  div.container.max-w-screen-md.mx-auto
    header.border-b.py-4.px-8.flex.items-center.space.justify-between
      div.flex.items-center
        svg.inline.text-blue-500(xmlns="http://www.w3.org/2000/svg" fill="none" height="28" width="28" viewBox="0 0 24 24" stroke="currentColor")
          path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11")
        span.text-xl.text-gray-800.font-bold.ml-1.tracking-tight members only
      div.text-sm.text-gray-500
        a(href="#") #{user.username}
        a.ml-8(href="/join") Join
        a.ml-8(href="/logout") Logout
    a.bg-blue-400.text-white.text-center.rounded-md.m-8.block.flex.items-center.justify-center(href="/add-message" class="py-2.5")
      svg.inline(height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor")
        path(fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd")
      span.ml-2 Add a message
    div
      ul.p-8
        each message in message_list
          li.space-y-2
            h2.text-lg.font-semibold #{message.title}
            p.text-sm.text-gray-500 #{message.content}
            p.text-sm.text-gray-800 Anonymous 
              span.text-gray-500 • #{message.timestamp_formatted}